.footer {
	background: var(--color-footer);
}

.footer__container {
	padding: 0 24px;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 80px 0 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.footer__item {
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.5);
}
.footer__item_light {
	color: rgba(255, 255, 255, 0.7);
}
.footer__group {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer__copyright {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	padding: 40px 0;
}

@media (max-width: 1180px) {
	.footer__wrapper {
		flex-direction: column;
		gap: 40px;
		justify-content: center;
	}
}

@media (max-width: 550px) {
	.footer__copyright {
		flex-direction: column;
		gap: 24px;
	}
}
