.header {
	background: var(--color-blue);
	padding-top: 5px;
}

.header * {
	z-index: 99;
}
.container {
}

.header__wrapper {
	max-width: var(--width-content);
	margin: 0 auto;
	display: flex;
	justify-content: space-between !important;
	align-items: center;
	padding: 35px 24px;
}
.header__logo {
}
.header-menu {
	display: flex;
	gap: 32px;
}
.header-menu__item {
}
.header-menu__link {
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	color: var(--color-description-bg-blue);
	cursor: pointer;
	transition: color 0.2s ease-in;
}

.header-menu__link:hover {
	color: var(--color-text-white);
}

.header__btn {
	padding-left: 32px;
	padding-right: 32px;
}
.mobile-menu {
	display: none;
	padding: 10px;
}

@media (max-width: 1070px) {
	.header-menu {
		gap: 20px;
	}

	.header__btn {
		padding-left: 16px;
		padding-right: 16px;
	}
}

@media (max-width: 870px) {
	.header__wrapper {
		padding: 19px 24px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.16);
	}

	.header__logo img {
		max-height: 32px;
		max-width: 65px;
	}

	.header-menu__link {
		font-size: 14px;
		line-height: 140%;
	}

	.header__btn {
		font-size: 13px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media (max-width: 710px) {
	.header-menu {
		display: none;
	}

	.header__btn {
		display: none;
	}

	.mobile-menu {
		display: block;
	}
}
